/* RESET */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */
header {
    height: 80px;
    padding: 20px;
    /* DEBUG */
    background-color:#add8e6;
}

.small-container {
    width: 80%;
    margin: 0 auto;
    background-color: #daa520;
    border: 2px black dotted;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    
}

.header-nav ul {
    display: flex;
    gap: 10px;
    list-style-type: none;
    border: 2px dotted black;
}

ul {
    text-decoration: none;
}
 .logo {
    border: 2px dotted black;
 }

 .actions {
    border: 2px dotted black;
 }

 .header-inferiore {
    padding-top: 20px;

    /* debug */
    height: 200px;
    background-color: blue;
    
 }

 .pink-container {
    width: 80%;
    margin: 0 auto;
    border: 2px dotted black;

    /* debug */
    background-color: #ee82ee;
    height: 90%
 }

 /* MAIN */
 
 .prima-fascia {
    background-color: #ffffff;

    /* debug */
    /* border: 1px solid black; */
    height: 200px;
    display: flex;
 }

 .primo-contenuto {
    border: 2px dotted black;
    background-color: #1e90ff;
    align-self: center;
    flex-grow: 1;

    /* debug */
    height: 90%;

 }

 .secondo-contenuto {
    border: 2px dotted black;
    background-color: #ffc0cb;
    align-self: center;
    flex-grow: 2;

    /* debug */
    height: 90%;
 }

 .seconda-fascia {
    background-color: #d3d3d3;

    /* debug */
    height: 200px;
    display: flex;
 }

 .terzo-contenuto {
    border: 2px dotted black;
    background-color: #ffc0cb;
    align-self: center;
    flex-grow: 1;

    /* debug */
    height: 90%;
 }

 .quarto-contenuto {
    border: 2px dotted black;
    background-color: #1e90ff;
    align-self: center;
    flex-grow: 2;

    /* debug */
    height: 90%;

 }